 .bg-gradient-overlay:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: -moz-linear-gradient(bottom, rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); 
 }
    
    /* .bg-gradient-overlay {
        background-image: linear-gradient(to bottom, #f472b6, #00b4d8);
      }
      
      .bg-gradient-overlay::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      } */